{
    "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }], "@babel/plugin-transform-react-jsx-source"],
    "presets": [
        [
            "babel-preset-gatsby",
            {
                "reactRuntime": "automatic",
                "targets": {
                    "browsers": [">0.25%", "not dead"]
                }
            }
        ]
    ]
}
